/.github/
/.vscode/
/monaco-editor-samples/
/webpack-plugin/
/monaco-editor/
/node_modules/
/build/
/test/
/out/
/src/
/gulpfile.js
/package.json
/package-lock.json
/README.md
/SECURITY.md
/CHANGELOG.md
/editor.code-workspace
